<!DOCTYPE HTML>
<html lang="en">

<%- include('head') %>

<body class="theme-dark">

  <div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
  </div>

  <div id="page">

    <%- include('appHeader') %>
    <div class="page-title-clear"></div>

    <div class="page-content">

      <div class="card card-style">
        <img src="images/bghj-4.jpg" class="img-fluid">
        <div class="content">
          <p class="mb-n1 color-highlight font-600"><%=LANG['LANG59'][NUM]%></p>
          <h1><%=LANG['LANG54'][NUM]%></h1>

          <p>
            <%=LANG['LANG55'][NUM]%><br>
            <%=LANG['LANG56'][NUM]%><br>
            <%=LANG['LANG57'][NUM]%><br><br>

            <%=LANG['LANG58'][NUM]%>
          </p>

          <!-- <div class="d-flex">
                    <div class="mr-auto">
                        <div class="list-group list-custom-large mt-n3">
                            <a href="#" class="border-0">
                                <img src="images/pictures/1s.jpg" class="rounded-sm">
                                <span>John Droid</span>
                                <strong>Senior Designer</strong>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="btn btn-full btn-s font-600 rounded-s gradient-highlight mt-1 float-left ">Read More</a>
                    </div>
                </div> -->
        </div>
        <div class="divider mb-0"></div>
        <div class="content">
          <p class="font-600 mb-n1 color-highlight"><%=LANG['LANG49'][NUM]%></p>
          <h1 class="mb-0"><%=LANG['LANG36'][NUM]%></h1>
          <p>
            <%=LANG['LANG37'][NUM]%>
          </p>

          <div class="d-flex mb-4">
            <div class="align-self-center">
              <h1 class="font-40 opacity-20 mb-n1 icon-80">01</h1>
            </div>
            <div class="align-self-center">
              <h5 class="font-12 mb-n1 opacity-30">05:30</h5>
              <h5 class="mb-0"><%=LANG['LANG38'][NUM]%></h5>
            </div>
            <div class="align-self-center ml-auto">
              <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight opacity-30"></i></a></h1>
            </div>
          </div>
          <div class="d-flex mb-4">
            <div class="align-self-center">
              <h1 class="font-40 opacity-20 mb-n1 icon-80">02</h1>
            </div>
            <div class="align-self-center">
              <h5 class="font-12 mb-n1 opacity-30">25:30</h5>
              <h5 class="mb-0"><%=LANG['LANG60'][NUM]%></h5>
            </div>
            <div class="align-self-center ml-auto">
              <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight opacity-30"></i></a></h1>
            </div>
          </div>
          <div class="d-flex mb-4">
            <div class="align-self-center">
              <h1 class="font-40 opacity-20 mb-n1 icon-80">03</h1>
            </div>
            <div class="align-self-center">
              <h5 class="font-12 mb-n1 opacity-30">1:20</h5>
              <h5 class="mb-0"><%=LANG['LANG61'][NUM]%></h5>
            </div>
            <div class="align-self-center ml-auto">
              <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight opacity-30"></i></a></h1>
            </div>
          </div>
          <div class="d-flex mb-4">
            <div class="align-self-center">
              <h1 class="font-40 opacity-20 mb-n1 icon-80">04</h1>
            </div>
            <div class="align-self-center">
              <h5 class="font-12 mb-n1 opacity-30">1:20</h5>
              <h5 class="mb-0"><%=LANG['LANG62'][NUM]%></h5>
            </div>
            <div class="align-self-center ml-auto">
              <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight opacity-30"></i></a></h1>
            </div>
          </div>
          <div class="d-flex mb-4">
            <div class="align-self-center">
              <h1 class="font-40 opacity-20 mb-n1 icon-80">05</h1>
            </div>
            <div class="align-self-center">
              <h5 class="font-12 mb-n1 opacity-30">1:20</h5>
              <h5 class="mb-0"><%=LANG['LANG63'][NUM]%></h5>
            </div>
            <div class="align-self-center ml-auto">
              <h1 class="font-30"><a href="#"><i class="fa fa-play-circle color-highlight"></i></a></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>