<!DOCTYPE HTML>
<html lang="en">

<%- include('head') %>

<body class="theme-dark">

  <div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
  </div>

  <div id="page">

    <%- include('appHeader') %>
    <div class="page-title-clear"></div>

    <div class="page-content">

      <div class="content mt-0 mb-2">
        <div class="row mb-2">
          <div class="col-6">
            <div class="input-style input-style-1 input-required">
              <span class="color-highlight"><%=LANG['LANG32'][NUM]%></span>
              <em><i class="fa fa-angle-down"></i></em>
              <input type="date" id="sdate">
            </div>
          </div>
          <div class="col-6">
            <div class="input-style input-style-1 input-required">
              <span class="color-highlight"><%=LANG['LANG33'][NUM]%></span>
              <em><i class="fa fa-angle-down"></i></em>
              <input type="date" id="edate">
            </div>
          </div>
          <div class="col-12">
            <a class="btn btn-xxs btn-full rounded-xs text-uppercase font-900 shadow-s bg-dark-dark" onclick="searchList()"><i class="fas fa-search"></i> 검색</a>
          </div>
        </div>
        <div class="row mb-0">
          <p class="col-8 mb-0 pt-2"><%=LANG['LANG34'][NUM]%> : <data-tag id="totalAmt"></data-tag>
          </p>
          <div class="col-4">
            <div class="input-style input-style-2 mb-0">
              <em><i class="fa fa-angle-down"></i></em>
              <select class="form-control font-14" id="LEVEL">
                <option value="10">10<%=LANG['LANG35'][NUM]%></option>
                <option value="20">20<%=LANG['LANG35'][NUM]%></option>
                <option value="30">50<%=LANG['LANG35'][NUM]%></option>
                <option value="40">100<%=LANG['LANG35'][NUM]%></option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="tab-controls tabs-round tab-animated tabs-medium tabs-rounded shadow-xl" data-tab-items="3" data-tab-active="bg-blue-dark color-white">
          <a href="#" data-tab-active data-tab="taball" onclick="getList(' ')"><%=LANG['LANG39'][NUM]%></a>
          <a href="#" data-tab="tabsell" onclick="getList(0)"><%=LANG['LANG84'][NUM]%></a>
          <a href="#" data-tab="tabbuy" onclick="getList(1)"><%=LANG['LANG85'][NUM]%></a>
        </div>
        <div class="clearfix mb-3"></div>
        <div class="tab-content" id="taball">
          <!-- <div class="card card-style mx-0 mb-2 p-3">
            <p class="mb-1">고용지급일시 :2020-07-04T11 : 41 : 00.000Z</p>
            <div class="row mb-1">
              <h4 class="col-8 text-left color-yellow-dark">관리자명 : </h4>
            </div>
            <h5 class="font-300 font-18 font-600 mb-0">관리비용 <span class="float-right">36.15 $</span></h5>
            <h5 class="font-300 font-14 mb-0">지급반영일 <span class="float-right">2020-07-04T11 : 41 : 00.000Z</span></h5>
            <h5 class="font-300 font-14 mb-0">지급 <span class="float-right text-right break-word font-12">지급</span></h5>
          </div> -->

        </div>
        <div class="tab-content" id="tabsell">
        </div>
        <div class="tab-content" id="tabbuy">
        </div>

      </div>

    </div>
  </div>
</body>
<script>
  var tableNames = {
    " ": 'taball',
    "0": 'tabsell',
    "1": 'tabbuy'
  }
  var nowPages = 1;
  var pageRange = 5;
  var currentPage = 1;
  var pageLevel = 0;
  var totalPage = 0;
  var cnt = 0;
  var selectedVal = " ";
  var totalAmt = 0
  var LISTPARAM = {
    CNT: "true",
    D_SDATE: " ",
    GUBUN: " ",
    D_EDATE: " ",
    CUR_PAGING: "1",
    PAGING_NO: "10"
  }
  $(document).ready(() => {
    getList(selectedVal)
  })

  function searchList() {
    LISTPARAM['D_SDATE'] = ($("#sdate").val() == '') ? " " : $("#sdate").val()
    LISTPARAM['D_EDATE'] = ($("#edate").val() == '') ? " " : $("#edate").val()
    getList(selectedVal)
  }

  function getList(val) {
    LISTPARAM['CUR_PAGING'] = currentPage + ""
    if (selectedVal != val) {
      $("#sdate").val('')
      $("#edate").val('')
      LISTPARAM = {
        CNT: "true",
        D_SDATE: " ",
        D_EDATE: " ",
        GUBUN: " ",
        CUR_PAGING: "1",
        PAGING_NO: "10"
      }
      nowPages = 1;
      pageRange = 5;
      currentPage = 1;
      pageLevel = 0;
      totalPage = 0;
      cnt = 0;
      selectedVal = val
    }
    LISTPARAM['GUBUN'] = selectedVal + ""
    reqApiList({
      URL: 'getPondHis',
      PARAM: LISTPARAM
    }).then((data) => {
      $("#" + tableNames[val]).empty()
      listData = data.LISTDATA[0]
      if (data.CNT.ALL_CNT != 0) {
        cnt = data.CNT.ALL_CNT
        totalPage = Math.floor(cnt / 10) + ((cnt % 10 != 0) ? 1 : 0)
        pageLevel = Math.floor(currentPage / (pageRange + 1))
        nowPages = (totalPage - (pageLevel * 5) > 5) ? 5 : totalPage - (pageLevel * 5)
      }
      var innerHTML = '';
      for (var i = 0; i < listData.length; i++) {
        totalAmt = listData[i].ALL_BUYAMT
        var buyType = (listData[i].SU_CURYN == 'Y') ? '<%=LANG["LANG86"][NUM]%>' : '<%=LANG["LANG87"][NUM]%>'
        innerHTML += '<div class="card card-style mx-0 mb-2 p-3">';
        innerHTML += '<p class="mb-1"><%=LANG["LANG88"][NUM]%> :' + listData[i].SDATE + '</p>';
        innerHTML += '<div class="row mb-1">';
        innerHTML += '<h4 class="col-8 text-left color-yellow-dark"><%=LANG["LANG89"][NUM]%> : ' + listData[i].FNAME + '</h4>';
        innerHTML += '</div>';
        innerHTML += '<h5 class="font-300 font-18 font-600 mb-0"><%=LANG["LANG90"][NUM]%> <span class="float-right">' + listData[i].SAMOUNT + ' $</span></h5>';
        innerHTML += '<h5 class="font-300 font-14 mb-0"><%=LANG["LANG91"][NUM]%> <span class="float-right">' + listData[i].SU_WEEK + '</span></h5>';
        innerHTML += '<h5 class="font-300 font-14 mb-0"><%=LANG["LANG86"][NUM]%><span class="float-right text-right break-word font-12">' + buyType + '</span></h5>';
        innerHTML += '</div>';
      }
      innerHTML += '<nav aria-label="pagination-demo">';
      innerHTML += '<ul class="pagination pagination- justify-content-center mt-2">';
      innerHTML += '<li class="page-item" onclick="btnPage(\'bef\')">';
      innerHTML += '<a class="page-link rounded-xs color-white bg-dark-dark color-white shadow-xl border-0" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>';
      innerHTML += '</li>';
      for (var i = 1; i <= nowPages; i++) {
        if (((pageLevel * 5) + i) == currentPage) {
          innerHTML += '<li class="page-item" onclick="movePage(' + i + ')"><a class="page-link rounded-xs bg-highlight color-white shadow-l border-0" href="#">' + ((pageLevel * 5) + i) + '' + '<span class="sr-only">(current)</span></a></li>';
        } else {
          innerHTML += '<li class="page-item" onclick="movePage(' + i + ')"><a class="page-link rounded-xs bg-dark-dark color-white shadow-l border-0" href="#">' + ((pageLevel * 5) + i) + '' + '</a></li>';
        }
      }
      innerHTML += '<li class="page-item" onclick="btnPage(\'next\')">';
      innerHTML += '<a class="page-link rounded-xs color-white bg-dark-dark color-white shadow-l border-0"><i class="fa fa-angle-right"></i></a>';
      innerHTML += '</li>';
      innerHTML += '</ul>';
      innerHTML += '</nav>';
      $("#" + tableNames[val]).append(innerHTML)
      $("#totalAmt").text(totalAmt)
    })
  }

  function movePage(page) {
    currentPage = (pageLevel * 5) + page
    getList(selectedVal)
  }

  function btnPage(pos) {
    if (pos == "bef" && currentPage > 1) {
      currentPage--
      getList(selectedVal)
    } else if (pos == "next" && currentPage < totalPage) {
      currentPage++
      getList(selectedVal)
    }
  }
</script>