<div class="menu-title">
    <h1><%=LANG['LANG116'][NUM]%></h1>
    <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
</div>
<div class="divider divider-margins mt-3 mb-0"></div>
<div class="content mt-0">
  <div class="card card-style">
      <div class="text-center pt-3 pb-3">
          <img width="220" class="generate-qr-auto mx-auto polaroid-effect shadow-l rounded-m" src="<%=REGURL%>" style="padding: 3px;">
          <p class="text-center font-10 pt-2 mb-0">http://golden-egg.net/signup?recId=<%=MY_INFO.D_UID%></p>
          <a href="#" class="close-menu btn btn-full gradient-blue font-13 btn-m font-600 mt-3 rounded-s" onclick="commonLib.copyTextInModal('http://golden-egg.net/signup?recId='+'<%=MY_INFO.D_UID%>')"><%=LANG['LANG116'][NUM]%></a>
      </div>
  </div>
</div>
