<!DOCTYPE HTML>
<html lang="en">
<%- include('head') %>

<body class="theme-dark">
  <input style="display:none" aria-hidden="true">
  <input type="text" style="display:none" aria-hidden="true">
  <!--remove autocomplete end-->
  <!--remove autocomplete-->
  <input style="display:none" aria-hidden="true">
  <input type="password" style="display:none" aria-hidden="true">
  <div id="preloader">
    <div class="spinner-border color-highlight" role="status"></div>
  </div>

  <div id="page">

    <div class="header header-fixed header-logo-center">
      <a href="/" class="header-title">Cowit</a>
      <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
      <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
      <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
    </div>


    <div class="page-content sign-page">

      <div data-card-height="cover" class="card mb-0" style="background-image:url(images/signbg.jpg)">
        <div class="card-center">
          <div class="text-center">
            <p class="font-600 color-highlight mb-1 font-16">Let's Get Started</p>
            <h1 class="font-40 color-white"><%=LANG['LANG124'][NUM]%></h1>
            <p class="boxed-text-xl color-white opacity-50 pt-3 font-15">

            </p>

          </div>

          <div class="content px-4">
            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fa fa-user"></i>
              <!-- <span>Referrer</span> -->
              <em>(required)</em>
              <input type="name" placeholder="<%=LANG['LANG181'][NUM]%>" readonly id="D_Recom" class="font-16">
            </div>
            <a class="btn btn-full btn-xxs font-600 font-13 bg-dark-dark rounded-s mb-2" data-menu="menu-search" id="RidSearch"><%=LANG['LANG48'][NUM]%></a>
         
            <div class="input-style input-light has-icon input-style-1 input-required langbox">
              <span class="color-highlight"><%=LANG['LANG237'][NUM]%></span>
              <em><i class="fa fa-angle-down"></i></em>
              <input type="text" value="Korea" class="langinput font-16" id="countryName">
              <ul class="langlist font-16" id="countrys">

              </ul>
            </div>
            <a class="btn btn-full btn-xxs font-600 font-13 bg-dark-dark rounded-s mb-2" onclick="checkPhone()">핸드폰인증</a>
            <!-- <div class="input-style input-light has-icon input-style-1 input-required">
              <span class="color-highlight">Center</span>
              <em><i class="fa fa-angle-down"></i></em>
              <select>
                <option value="" selected>Center</option>
                <option value="1">Center1</option>
                <option value="2">Center2</option>
                <option value="3">Center3</option>
                <option value="4">Center4</option>
                <option value="5">Center5</option>
              </select>
            </div> -->
            <!--
            <div class="row mb-0">
              <div class="col-3">
                <div class="input-style input-light input-style-1 input-required">
                  <input type="name" value="82" id="D_COUNTRY_HP" readonly class="font-16">
                </div>
              </div>
               <div class="col-9">
                <div class="input-style input-light input-style-1 input-required">
                  <span><%=LANG['LANG180'][NUM]%></span>
                  <input type="number" placeholder="<%=LANG['LANG180'][NUM]%>" id="D_HP" class="font-16">
                </div>
              </div> 
            </div>
                -->


            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fa fa-user"></i>
              <span><%=LANG['LANG119'][NUM]%></span>
              <em>(required)</em>
              <input type="name" placeholder="<%=LANG['LANG119'][NUM]%>" id="M_UID" autocomplete="false" class="font-16">
            </div>
            <a class="btn btn-full btn-xxs font-600 font-13 bg-dark-dark rounded-s mb-2" onclick="startIdCheck()"><%=LANG['LANG238'][NUM]%></a>


            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fa fa-lock"></i>
              <span><%=LANG['LANG183'][NUM]%></span>
              <em>(required)</em>
              <input type="password" placeholder="<%=LANG['LANG183'][NUM]%>" id="D_PASS" autocomplete="false">
            </div>
            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fa fa-lock"></i>
              <span><%=LANG['LANG185'][NUM]%></span>
              <em>(required)</em>
              <input type="password" placeholder="<%=LANG['LANG185'][NUM]%>" id="D_PASS_CONF">
            </div>

            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fa fa-user"></i>
              <span>본인 성명</span>
              <em>(required)</em>
              <input type="text" placeholder="본인 성명" id="D_UNAME" autocomplete="false" class="font-16">
            </div>

            <div class="input-style input-light has-icon input-style-1 input-required">
              <span class="color-highlight">은행</span>
              <em><i class="fa fa-angle-down"></i></em>
              
              <select  id="bankcode" >
                <option value="" selected  >은행을 선택해주세요.</option>
                <option value="081">하나은행</option>
                <option value="004">국민은행</option>
                <option value="001">한국은행</option>
                <option value="002">산업은행</option>
                <option value="003">기업은행</option>
                <option value="090">카카오뱅크</option>
                <option value="005">외환은행</option>
                <option value="007">수협중앙회</option>
                <option value="008">수출입은행</option>
                <option value="011">농협중앙회</option>
                <option value="012">단위농,축협</option>
                <option value="020">우리은행</option>
                <option value="023">SC은행</option>
                <option value="027">한국씨티은행</option>
                <option value="045">새마을금고중앙회</option>
                <option value="048">신협중앙회</option>
                <option value="071">우체국</option>
                <option value="088">신한은행</option>
                <option value="031">대구은행</option>
                <option value="032">부산은행</option>
                <option value="034">광주은행</option>
                <option value="035">제주은행</option>
                <option value="037">전북은행</option>
                <option value="039">경남은행</option>
                <option value="050">상호저축은행</option>
                <option value="064">산림조합중앙회</option>
              </select>
            </div>
            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fas fa-university"></i>
              <span>예금주</span>
              <em>(required)</em>
              
              <input type="text" placeholder="예금주" id="D_UNAME1" autocomplete="false" class="font-16">
              
            </div>
            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fas fa-money-check"></i>
              <span>계좌번호</span>
              <em>(required)</em>
              <input type="text" placeholder="계좌번호" id="B_IDNO" autocomplete="false" class="font-16">
            </div>

            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fas fa-at"></i>
              <span><%=LANG['LANG120'][NUM]%></span>
              <em>(required)</em>
              <input type="email" placeholder="<%=LANG['LANG120'][NUM]%>" id="D_EMAIL" class="font-16">
            </div>
            <a class="btn btn-full btn-xxs font-600 font-13 bg-dark-dark rounded-s mb-2" onclick="sendEmail()"><%=LANG['LANG188'][NUM]%></a>
            <div class="input-style input-light has-icon input-style-1 input-required">
              <i class="input-icon fa fa-lock"></i>
              <span><%=LANG['LANG186'][NUM]%></span>
              <em>(required)</em>
              <input type="text" placeholder="<%=LANG['LANG186'][NUM]%>" id="SMS_NO" class="font-16">
            </div>

            <div class="termsbox rounded-s">
              <textarea class="form-control" rows="5">약관 동의
Cowwit 서비스는 개인간의 P2P 거래를 통하여 사용자가 직접 수익을 창출 할 수 있는 시스템을
제공해주는 플랫폼입니다. 플랫폼의 모든 서비스(온라인,오프라인) 이용 정책에 동의하며, 1인 1계정을
원칙으로 이를 위반할 시 서비스 사용이 제한 될 수 있음을 동의합니다.
특히, 회원이 사실과 다른 정보를 온라인 및 오프라인에 유포하여 그 사실이 추후 허위정보로 밝혀질 경우
회사는 회원의 서비스 이용권리를 중지하거나 이용계약을 해지할 수 있다.&nbsp;이로 인하여 회사 또는 제3자에게
발생한 손해는 본 회원이 책임을 부담해야 하며,&nbsp;회사의 고의 또는 과실에 의한 경우 회사가 손해를 부담한다.
동행 서비스 이용자들은 회사의 정책 변화가 있을 시 이를 모두 수용하며, 서비스 이용 중 개인간
P2PC 거래에 있어서 투자로 입은 개인 손실에 대하여 회사에 아무런 이의 제기를 하지 않을 것을 동의하며
본 회사는 민,형사상 어떠한 책임을 지지 않습니다.
본 회원은 이 모든 사항에 대하여 동의합니다.
                </textarea>
            </div>
            <div class="form-check icon-check">
                <input class="form-check-input" type="checkbox" value="" id="check3" checked="">
                <label class="form-check-label color-white" for="check3">이용약관에 동의합니다</label>
                <i class="icon-check-1 far fa-square color-gray-dark font-16"></i>
                <i class="icon-check-2 far fa-check-square font-16 color-highlight"></i>
            </div>

            <a href="#" class="btn btn-full btn-l font-600 font-16 gradient-highlight mt-4 rounded-s" onclick="signup()"><%=LANG['LANG38'][NUM]%></a>

            <a href="/signin" class="btn btn-icon text-left btn-full btn-l font-600 font-16 bg-phone mt-2 rounded-s"><i class="fas fa-user text-center pt-1"></i><%=LANG['LANG123'][NUM]%></a>

          </div>


        </div>
        <div class="card-overlay bg-black opacity-60"></div>
      </div>


    </div>


    <div id="menu-search" class="menu menu-box-modal rounded-m" data-menu-height="370" data-menu-width="350">
      <div class="menu-title">
        <h1 class="font-24"><%=LANG['LANG48'][NUM]%></h1>
        <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
      </div>
      <div class="content mb-0 mt-0">

        <div class="search-box search-dark shadow-xl border-0 bg-theme rounded-sm bottom-0">
          <i class="fa fa-search"></i>
          <input type="text" class="border-0 font-16" placeholder="<%=LANG['LANG239'][NUM]%>" onkeyup="findID()" id="SEARCHID">
        </div>

        <div class="card card-style mt-3">
          <div class="content mb-2">
            <div class="list-group list-custom-small" id="searchIdList">
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
</body>
<script>
var ConfirmNumber;



function checkPhone() {
  var win = window.open("/phoneCheckPop", "PopupWin", "width=500,height=600");
}

function successPhoneConfirm(number) {
  ConfirmNumber = number + "";
  reqApi({
    URL: 'checkHp',
    PARAM: {
      D_HP: ConfirmNumber.replace(ConfirmNumber.substring(0, 2), "0")
    }
  }).then(data => {
    if(data.HP.D_UID!=undefined){
      ConfirmNumber=null;
      alert("<%=LANG['LANG300'][NUM]%>")
    }
  })
}


  var selectedCountry = 210;
  $(document).ready(() => {


    
    var Ruid = "<%=R_UID%>"
    if (Ruid != "") {
      $("#D_Recom").val(Ruid)
      $("#RidSearch").hide();
    }
    reqApi({
      URL: 'countryCode',
    }).then((data) => {
      countrys = data.COUNTRYDATA
      for (var i = 0; i < data.COUNTRYDATA.length; i++) {
        var inneroption = '';
        // inneroption += '<option value="' + i + '">' + data.COUNTRYDATA[i].label + '</option>';
        inneroption += '<li onclick="selectCounty(' + i + ')"><a><img src="https://www.countryflags.io/' + data.COUNTRYDATA[i].alpha2Code + '/flat/64.png" alt=""> ' + data.COUNTRYDATA[i].label + '</a></li></option>';
        $("#countrys").append(inneroption)
      }
      $("#countrys").val(210)
    })
  })
  idcheckresult = ""
  var countrys;
  var D_IDX;
  var emailConf = ""
  var selectSearch = ""
  var bank_code = ""


  async function signup() {

    if ($("#BANK_CODE").val() != $("#BANK_CODE").val()) {
      alert("은행을 선택하여 주십시오!")
      return
    }

    if ($("#D_PASS_CONF").val() != $("#D_PASS").val()) {
      alert("<%=LANG['LANG240'][NUM]%>")
      return
    }
    if (idcheckresult == "") {
      alert("<%=LANG['LANG241'][NUM]%>")
      return
    }
    if (D_IDX == "") {
      alert("<%=LANG['LANG215'][NUM]%>")
      return
    }
  
    var Param = {}
    Param['D_COUNTRY'] = selectedCountry + ""
    Param['D_CONTRY_NAME'] = countrys[selectedCountry].alpha2Code
    Param['D_COUNTRY_HP'] = countrys[selectedCountry].value[0]
    Param['D_UID'] = 'admin'
    Param['M_UID'] = $("#M_UID").val()
    Param['D_PASS'] = $("#D_PASS").val()
    Param['UN_ED_NAME'] = $("#D_UNAME").val()
    Param['D_CENCODE'] = "100"
    Param['B_CODE'] = $("#bankcode").val()
    Param['B_IDNO'] = $("#B_IDNO").val()
    Param['B_OWNER'] = $("#D_UNAME1").val()
    Param['D_EMAIL'] = $("#D_EMAIL").val()
    Param['D_RID'] = $("#D_Recom").val()
    Param['D_HP'] = ConfirmNumber.replace(ConfirmNumber.substring(0, 2), "0")
    Param['SMS_NO'] =  $("#SMS_NO").val()
    Param['SMS_KEY'] = D_IDX + ""

    var valResult = commonLib.objValidate(Param)
    //  if (valResult) {
    //    alert("<%=LANG['LANG192'][NUM]%>")
    //    return
    //  }
    var r = await reqApi({
      URL: 'signup',
      PARAM: Param
    })
    if (r.ADDDIS.D_RESULT == 0) {
      alert("<%=LANG['LANG242'][NUM]%>")
      location.href = "/"
    } else if (r.ADDDIS.D_RESULT == 1) {
      alert("<%=LANG['LANG243'][NUM]%>")
    } else if (r.ADDDIS.D_RESULT == 2) {
      alert("<%=LANG['LANG244'][NUM]%>")
    } else if (r.ADDDIS.D_RESULT == 3) {
      alert("<%=LANG['LANG245'][NUM]%>")
    } else if (r.ADDDIS.D_RESULT == 4) {
      alert("<%=LANG['LANG246'][NUM]%>")
    } else if (r.ADDDIS.D_RESULT == 5) {
      alert("<%=LANG['LANG247'][NUM]%>")
    } else if (r.ADDDIS.D_RESULT == 6) {
      alert("<%=LANG['LANG248'][NUM]%>")
    } else if (r.ADDDIS.D_RESULT == 7) {
      alert("<%=LANG['LANG248'][NUM]%>")
    } else {
      alert("<%=LANG['LANG249'][NUM]%>")
    }
  }

  async function sendEmail() {
    if (idcheckresult == "") {
      alert("<%=LANG['LANG123'][NUM]%>")
      return
    }
    var EmailParam = {}
    EmailParam['D_UID'] = $("#M_UID").val()
    EmailParam['D_MAIL'] = $("#D_EMAIL").val()
    EmailParam['TITLE'] = "Signup mail"
    EmailParam['D_FLAG'] = "001"
    var valResult = commonLib.objValidate(EmailParam)
    if (valResult) {
      alert("<%=LANG['LANG251'][NUM]%>")
      return
    }
    var r = await reqApi({
      URL: 'mailSender/sendMail',
      PARAM: EmailParam
    })
    if (r.SENDMAIL == -1) {
      alert("<%=LANG['LANG189'][NUM]%>")
    } else if (r.SENDMAIL == 0) {
      alert("<%=LANG['LANG255'][NUM]%>")
    } else {
      alert("<%=LANG['LANG126'][NUM]%>")
      console.log(r);
      D_IDX = r.SENDMAIL
    }
  }

  function selectRid(val) {
    $("#D_Recom").val(val)
    closeMenu()
  }

  function findID() {
    if ($("#SEARCHID").val().length > 3) {
      var Param = {}
      Param['SEARCH_ID'] = $("#SEARCHID").val()
      reqApiList({
        URL: 'findID',
        PARAM: Param,
        LOADING: true
      }).then(r => {
        var result = r.FINDID[0]
        if (r.FINDIDh != 0) $("#searchIdList").empty()
        for (var i = 0; i < result.length; i++) {
          var innerHtml = '';
          innerHtml += '<a onclick="selectRid(\'' + result[i].D_UID + '\')">';
          innerHtml += '<img src="images/avatars/2s.png">';
          innerHtml += '<span>' + result[i].D_UID + '</span>';
          // innerHtml += '<span class="badge bg-red-dark color-white font-10">MANAGER</span>';
          innerHtml += '<i class="fa fa-angle-right"></i>';
          innerHtml += '</a>';
          innerHtml += '<tr>';
          $("#searchIdList").append(innerHtml)
        }
      })

    }
  }




  function selectCounty(val) {
    selectedCountry = val
    $("#D_COUNTRY_HP").val(countrys[selectedCountry].value[0])
    $("#countryName").val(countrys[selectedCountry].label)
  }
  async function startIdCheck(bt) {
    var Param = {}
    Param['D_UID'] = $("#M_UID").val()
    var valResult = commonLib.objValidate(Param)
    if (valResult) {
      alert("<%=LANG['LANG252'][NUM]%>")
      return
    }
    var r = await reqApi({
      URL: 'idcheck',
      PARAM: Param
    })
    console.log(r);
    if (r.CHECKID.REJULT == 'Y') {
      alert("<%=LANG['LANG253'][NUM]%>")
      $("#M_UID").attr('disabled', true);
      idcheckresult = $("#M_UID").val()
    } else {
      alert("<%=LANG['LANG254'][NUM]%>")
    }
  }
</script>

<script>
  $(document).ready(function() {

    $(".langinput").focus(function() {
      $(".langlist").slideDown(200);
    });

    $(".langlist a").click(function() {
      $(".langlist").slideUp(200);
    });

    $(".langinput").blur(function() {
      $(".langlist").slideUp(200);
    });

  });
</script>
